#scheduling-modal .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

#scheduling-modal .response-box .alert {
    padding: 0px;
    margin-top: 10px;
}
#scheduling-modal .response-box ul {
    margin-bottom: 0px;
}